@import '../foundations/all';

.zui-header-1,
.zui-header-2,
.zui-header-3,
.zui-header-4,
.zui-header-5,
.zui-header-6,
.zui-subheader-1,
.zui-subheader-2,
.zui-caption,
.zui-body-1,
.zui-body-2,
.zui-overline {
  display: block;
  font-weight: $fw-medium;
  letter-spacing: map-get($spacing, none);
  margin: 0;
  margin-bottom: 0.5rem;
  color: $dark-text-color;
}

.zui-header-1,
.zui-header-2,
.zui-header-3,
.zui-header-4,
.zui-header-5,
.zui-header-6,
.zui-subheader-1,
.zui-subheader-2,
.zui-caption {
  font-family: $header-font-family;
}

.zui-body-1,
.zui-body-2,
.zui-overline {
  font-family: $body-font-family;
}

.zui-header-1 {
  font-size: $header-1-font-size;
  letter-spacing: -1.5px;
}

.zui-header-2 {
  font-size: $header-2-font-size;
  letter-spacing: -0.5px;
}

.zui-header-3 {
  font-size: $header-3-font-size;
}

.zui-header-4 {
  font-size: $header-4-font-size;
}

.zui-header-5 {
  font-size: $header-5-font-size;
  letter-spacing: 0.18px;
}

.zui-header-6 {
  font-size: $header-6-font-size;
  letter-spacing: 0.15px;
}

.zui-subheader-1 {
  font-size: $subheader-1-font-size;
  letter-spacing: 0.15px;
}

.zui-subheader-2 {
  font-size: $subheader-2-font-size;
  letter-spacing: 0.1px;
}

.zui-body-1 {
  font-size: $body-1-font-size;
  letter-spacing: 0.5px;
}

.zui-body-2 {
  font-size: $body-2-font-size;
  letter-spacing: 0.25px;
}

.zui-caption {
  font-size: $caption-font-size;
  letter-spacing: 0.4px;
}

.zui-overline {
  font-size: $overline-font-size;
  letter-spacing: 1.5px;
}
