@import '../foundations/all';

.header-1,
.header-2,
.header-3,
.header-4,
.header-5,
.header-6,
.subheader-1,
.subheader-2,
.caption,
.body-1,
.body-2,
.overline {
  display: block;
  font-weight: $fw-medium;
  letter-spacing: 0;
  margin: 0;
  margin-bottom: 0.5rem;
}

.header-1,
.header-2,
.header-3,
.header-4,
.header-5,
.header-6,
.subheader-1,
.subheader-2,
.caption {
  font-family: $header-font-family;
}

.body-1,
.body-2,
.overline {
  font-family: $body-font-family;
}

.header-1 {
  font-size: $header-1-font-size;
  letter-spacing: -1.5px;
}

.header-2 {
  font-size: $header-2-font-size;
  letter-spacing: -0.5px;
}

.header-3 {
  font-size: $header-3-font-size;
}

.header-4 {
  font-size: $header-4-font-size;
}

.header-5 {
  font-size: $header-5-font-size;
  letter-spacing: 0.18px;
}

.header-6 {
  font-size: $header-6-font-size;
  letter-spacing: 0.15px;
}

.subheader-1 {
  font-size: $subheader-1-font-size;
  letter-spacing: 0.15px;
}

.subheader-2 {
  font-size: $subheader-2-font-size;
  letter-spacing: 0.1px;
}

.body-1 {
  font-size: $body-1-font-size;
  letter-spacing: 0.5px;
}

.body-2 {
  font-size: $body-2-font-size;
  letter-spacing: 0.25px;
}

.caption {
  font-size: $caption-font-size;
  letter-spacing: 0.4px;
}

.overline {
  font-size: $overline-font-size;
  letter-spacing: 1.5px;
}
